.box {
  height: 20rem;
  width: 30rem;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
}

.h1 {
  display: flex;
  align-items: center;
  width: 30rem;
  margin-left: 1rem;
  color: var(--primary);
  height: 20%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 2px solid rgb(238, 238, 238);
  border-bottom: 2px solid rgb(238, 238, 238);
  height: 40%;
}

.input {
  text-align: center;
  height: 2.5rem;
  width: 25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: var(--br-xs);
  border: 2px solid rgb(238, 238, 238);
}

.or {
  text-align: center;
  width: 3rem;
  font-weight: bold;

  height: 1.5rem;
  color: rgb(238, 238, 238);
  background-color: rgb(255, 255, 255);
  position: relative;
  margin-top: -0.8rem;
  margin-left: 45%;

}

.divbutton {
  display: flex;
  justify-content: center;
  height: 40%;
}

.button {
  background-color: var(--primary);
  color: aliceblue;
  height: 2.5rem;
  width: 25rem;
  border: none;
}

@media (max-width: 768px) {
  .box {
    width: 90vw;
    height: 35vh;
    overflow: hidden;

  }

  .h1 {
    width: 90vw;
  }

  .form {
    display: flex;
    flex-direction: column;
    height: 60%;
  }

  .input {
    width: 80%;
    margin-left: 1rem;

  }

  .or {
    margin-left: 35%;
  }

  .button {
    margin-top: -1rem;
    width: 80%;
    height: 1.8rem;
  }
}